@import "tailwindcss";

:root {
  --background: #fdfdfd;
  --foreground: #1e293b;

  --brand-primary: #4f46e5;
  --brand-secondary: #6366f1;
  --brand-accent: #f5f3ff;

  --text-main: #0f172a;
  --text-muted: #475569;
  --text-light: #94a3b8;

  --surface-primary: #ffffff;
  --surface-soft: #f8fafc;
  --surface-border: #f1f5f9;

  --state-open: #10b981;
  --state-closed: #f43f5e;
  --state-warning: #f59e0b;

  --font-fa: "Estedad", sans-serif;
  --font-logo: "Dima", sans-serif;
  --font-en: "Inter", sans-serif;
}

@theme {
  --color-brand-primary: var(--brand-primary);
  --color-brand-secondary: var(--brand-secondary);
  --color-brand-accent: var(--brand-accent);

  --color-text-main: var(--text-main);
  --color-text-muted: var(--text-muted);
  --color-text-light: var(--text-light);

  --color-surface-primary: var(--surface-primary);
  --color-surface-soft: var(--surface-soft);
  --color-surface-border: var(--surface-border);

  --color-state-open: var(--state-open);
  --color-state-closed: var(--state-closed);
  --color-state-warning: var(--state-warning);

  --font-fa: var(--font-fa);
  --font-en: var(--font-en);

  --animate-fadeIn: fade-in 0.6s ease-out forwards;
  --animate-slideUp: slide-up 0.5s ease-out forwards;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes slide-up {
    from {
      transform: translateY(16px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    -webkit-font-smoothing: antialiased;
  }
}
